@if (tag === 'h1') {
<h1 class="typography" [ngClass]="[weight, size, color]">
  {{ text }}
</h1>
} @if (tag === 'h2') {
<h2 class="typography" [ngClass]="[weight, size, color]">
  {{ text }}
</h2>
} @if (tag === 'h3') {
<h3 class="typography" [ngClass]="[weight, size, color]">
  {{ text }}
</h3>
} @if (tag === 'h4') {
<h4 class="typography" [ngClass]="[weight, size, color]">
  {{ text }}
</h4>
} @if (tag === 'h5') {
<h5 class="typography" [ngClass]="[weight, size, color]">
  {{ text }}
</h5>
} @if (tag === 'h6') {
<h6 class="typography" [ngClass]="[weight, size, color]">
  {{ text }}
</h6>
} @if (tag === 'p') {
<p class="typography" [ngClass]="[weight, size, color]">
  {{ text }}
</p>
} @if (tag === 'span') {
<span class="typography" [ngClass]="[weight, size, color]">
  {{ text }}
</span>
}
