// @import "../../../../design-system/src/styles.scss";

// :host {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 80vh;
//   font-family: $ds-font-family;
//   background: $ds-light;
// }

// .ds-not-found {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   background: $ds-white;
//   border: 1px solid $ds-border;
//   border-radius: $ds-spacing-lg;
//   box-shadow: 0 2px 8px rgba($ds-dark, 0.04);
//   padding: $ds-spacing-xl $ds-spacing-lg;
//   max-width: 600px;
//   width: 100%;
//   text-align: center;
//   gap: $ds-spacing-xl;
// }

// .ds-not-found__icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: $ds-gray;
//   border-radius: 50%;
//   width: 100px;
//   height: 90px;
// }
